doctype html
html
  head
    title Fxpippette Investment
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    block content
    block scripts
      script(src='/javascripts/main.js')
      script(src='/javascripts/materialize.min.js')
      script(src='/javascripts/validate.js')
    block footer
      footer.page-footer
        div.container
          di.row
            div.col.s4
              a(href='#')

        div.footer-copyright
          div.container.
            &copy; FxPippette Investment
