doctype html
html
  head
    title Fxpippette Investment
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")

  body
    block content

    block scripts
      script(src='/javascripts/main.js')
      script(src='/javascripts/materialize.min.js')
      script(src='/javascripts/validate.js')
    block footer
      footer.page-footer.purple.accent-3
        div.container
          div.row
            div.col.s4
                p
                    span.link #[i(class="material-icons ") phone]09037031782
            div.col.s4
                  p
                      a(href='www.facebook.com/fxpippette' target='_blank' class="link") #[i(class="material-icons") facebook] Facebook

        div.footer-copyright
          div.container.
            &copy; FxPippette Investment
