doctype html
html
  head
    title Fxpippette Investment
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    block content
    block scripts
      script(src='/javascripts/main.js')
      script(src='/javascripts/materialize.min.js')
      script(src='/javascripts/validate.js')
    block footer
      footer.page-footer.purple.accent-3
        div.container
          div.row
            div.col.s4
                p
                    span #[i(class="material-icons ") phone]  09037031782
            div.col.s4
                  p
                      a(href='www.facebook.com/fxpippette' target='_blank') #[i(class="material-icons ") facebook] Facebook

        div.footer-copyright
          div.container.
            &copy; FxPippette Investment
