extends layout

block content
    include partials/_header
    main
        div.login-container
            h6 First time here? #[a(href='/auth/register') Create an Account]
            div.row
                form(action="/auth/login", method='POST', class="col, s12, l6")
                    div.row
                        div.input-field
                            input(type='email' id="em" name="email")
                            label(for='em') Email

                        div.input-field
                            label(for='pwd') Password
                            input(type='password' id="pwd" name="password")
                            i(class='material-icons' class='eye') visibility
                        div.col.s6
                            input(type='submit' id='login' value='Login', class="btn")
                        a(href='/' class='btn') Back
                        p Forget password? follow this link to reset your password #[a(href='/auth/recovery') reset]
