extends layout

block content
    include partials/_header
    main
        div.container
            h3 Email Verification
            h5 An email has been sent to your email address
            p Follow the link provided in the email to verify your account in order to access your dashboard.

